@import "variables";
@import "mixin";
#header_text_section_media {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;

}

.media_heading_text {
  margin-top: 10rem;
  font-family: $font-roboto;
  font-size: 3.2rem;
}

.media_heading_description {
  color: #8A8A8A;
  font-size: 1.6rem;
}

.media_heading_image{
  margin-top: 10rem;
  padding-bottom: 10rem;
  background-color: $background-secondary;

}
@include mobile{
  .media_heading_img{
    max-width: 100%;
  }
}
