@import "src/Components_Layout_SCSS/variables";

.calendar {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/output-onlinepngtools.png");
  background-position: center;
}

.box_calendar {
  width: 110rem;
  height: 70rem;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0 0 1rem 0 black;
}

.calendar_nav {
  width: 100%;
  height: 20%;
  background-color: white;
  border-radius: 2rem 2rem 0 0;
  display: flex;
  justify-content: space-between;
}

.calendar_user {
  position: relative;
  right: 2rem;
  top: 3rem;
}

.calendar_contain {
  width: 100%;
  height: 80%;
  display: flex;
}

.calendar_menu {
  width: 20%;
  height: 100%;
  background-color: $color-primary;
  border-radius: 0 2rem 0 2rem;
}

.calendar_events {
  width: 80%;
  height: 100%;
  background-color: wheat;
  border-radius: 2rem 0 2rem 0;

}

.calendar_nav_logo {
  width: 30rem;
  position: relative;
  top: 4rem;
  left: -5.5rem;
  text-align: center;
  font-family: $font-roboto;
  font-size: 3rem;
  font-weight: bolder;
  color: $color-primary;
}

.calendar_nav_logo_pro {
  color: $color-secondary;
}

.menu_el {
  gap: 1rem;
  text-align: center;
  font-family: $font-roboto;
  font-size: 2.5rem;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-top: 6rem;
  margin-left: 1rem;

}